body {
    background-image: linear-gradient(to right, rgb(0, 170, 255), rgb(0, 238, 255), rgb(0, 242, 255), aquamarine
            /*rgb(227, 119, 227), pink, orange, rgb(118, 237, 118), rgb(255, 98, 0)*/
        );
    background-size: 195px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: groove;
    border-color: floralwhite;
    border-radius: 25px;
    height: 457px;
    width: 330px;
    background-color: blanchedalmond;
    position: relative;
    top: 50%;
    left: 50%;
    margin: 120px 0 0 -150px;
}

.num {
    height: 50px;
    width: 65px;
    margin: 3px 2px 2px 2px;
    background-color: aliceblue;
    border-radius: 20px;
}

.num:hover {
    background-color: rgb(255, 170, 0);
    font-size: 20px;
}

.inp {
    margin: 25px 2px 12px 2px;
    height: 100px;
    width: 280px;
    border-radius: 8px;
    border-style: groove;
    background-color: rgb(121, 215, 219);
}

.input {
    height: 25px;
    width: 250px;
    margin: 10px 10px 15px 0;
    float: right;
    text-align: right;
    background-color: rgb(121, 215, 219);
    border: none;
    font-size: 28px;

}

.result {
    margin: 5px 10px 5px 0;
    height: 25px;
    width: 250px;
    background-color: rgb(121, 215, 219);
    border: none;
    text-align: right;
    float: right;
    font-size: 36px;
}